{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
  "react",
  "jsx-a11y",
  "import"
  ],
  "extends": [
    "airbnb",
    "plugin:react/all"
  ],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [ ".js", ".jsx"] }],
    "global-require": "off",
    "no-console": "off",
    "import/prefer-default-export": "off",
    "react/no-did-mount-set-state": "off",
    "react/no-set-state": "off",
    "react/jsx-no-literals": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "arrow-body-style": [0,"as-needed"],
    "react/jsx-one-expression-per-line": "off"
  },
  "globals": {
    "__DEV__": true
  }
}